body{
    background-color: rgb(182, 178, 178);
}
.calc{
    margin: auto;
    background-color: black;
    border:2px solid whitesmoke;
    width: 29%;
    height: 550px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px;
}
.maininput{
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
    height: 125px;
    width: 98.2%;
    font-size: 70px;
    text-align:right;
    color: rgb(0, 0, 0);
    font-weight: 00;
}
.numbtn{
    padding: 30px 35px;
    border-radius: 50px;
    font-weight: 500;
    font-size: large;
    background-color: gray;
}
.numbtn:hover{
    background-color: rgb(142, 139, 139);
    color: whitesmoke;
}
.calbtn{
    padding: 30px 35px;
    border-radius: 50px;
    font-weight: 500;
    font-size: large;
    background-color: rgb(31, 117, 42);
}
.calbtn:hover{
    background-color: rgb(242, 161, 12);
    color: whitesmoke;
}
.c{
    padding: 30px 35px;
    border-radius: 50px;
    font-weight: 500;
    font-size: large;
    background-color: red;
}
.c:hover{
    background-color: rgb(237, 45, 45);
    color: whitesmoke;
}
.equal{
    padding: 30px 35px;
    border-radius: 50px;
    font-weight: 500;
    font-size: large;
    background-color: green;
}
.equal:hover{
    background-color: rgb(12, 130, 12);
    color: whitesmoke;
}